<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="column is-6 is-offset-3">
                <h3 class="title has-text-grey">{{ pageTitle }}</h3>
                <div class="box">
                    <div class="tabs is-large">
                        <ul>
                            <li [routerLink]="['info']" routerLinkActive="is-active"><a>Basic Information</a></li>
                            <li [routerLink]="['tags']" routerLinkActive="is-active"><a>Search Tags</a></li>
                        </ul>
                    </div>

                    <router-outlet></router-outlet>

                    <div class="field"></div>

                    <div class="field is-grouped is-grouped-centered">
                        <p class="control">
                            <button (click)="saveProduct()" class="button is-primary is-large" type="button"
                                [title]="productForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                                [disabled]="!isValid()" (click)="saveProduct()">
                                Save
                            </button>
                        </p>
                        <p class="control">
                            <button [routerLink]="['/products']" class="button is-light is-large" type="button"
                                title="Cancel your edits">
                                Cancel
                            </button>
                        </p>
                        <p class="control">
                            <button (click)="deleteProduct()" class="button is-warning is-outlined is-large" type="button"
                                title="Delete this product" (click)="deleteProduct()">
                                Delete
                            </button>
                        </p>
                    </div>
                    <div class="notification  is-danger" *ngIf="errorMessage">{{errorMessage}}
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>