<span class="fa fa-spinner spinner" *ngIf="loading"></span>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to {{title}}
      </h1>
      <h2 class="subtitle">
        ... My first complete Angular app ...
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="tabs is-boxed is-centered main-menu">
          <ul>
            <li routerLinkActive="is-active">
              <a [routerLink]="['/welcome']">
                <span class="icon is-small"><i class="fa fa-home"></i></span>
                <span>Home</span>
              </a>
            </li>
            <li routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['/products']">
                <span class="icon is-small"><i class="fa fa-list-ul"></i></span>
                <span>Product List</span>
              </a>
            </li>
            <li routerLinkActive="is-active">
              <a [routerLink]="['/products', 0, 'edit']">
                <span class="icon is-small"><i class="fa fa-plus-square"></i></span>
                <span>Add Product</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="tabs is-boxed is-centered main-menu">
          <ul>
            <li *ngIf="isLoggedIn">
              <a class="nav-link">Welcome {{ userName }}</a>
            </li>

            <li *ngIf="!isMessageDisplayed">
              <a (click)="displayMessages()">
                <span>Show Messages</span>
              </a>
            </li>
            <li *ngIf="isMessageDisplayed">
              <a (click)="hideMessages()">
                <span>Hide Messages</span>
              </a>
            </li>
            <li *ngIf="!isLoggedIn">
              <a [routerLink]="['/login']">
                <span>Log In</span>
              </a>
            </li>
            <li *ngIf="isLoggedIn">
              <a (click)="this.logout()">
                <span>Log Out</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="columns">
    <div class="column is-three-quarters" [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''">
      <router-outlet #o="outlet"></router-outlet>
    </div>
    <div class="column">
      <router-outlet name="popup"></router-outlet>
    </div>
  </div>
</section>
