<section class="hero">
  <div class="hero-body">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title">
              Messages
            </p>
            <span (click)="close()" class="card-header-icon">
              <span class="icon">
                <i class="fa fa-times" aria-hidden="true"></i>
              </span>
            </span>
          </header>
          <div class="card-content">
            <div class="content">
              <div *ngFor="let message of messages; let i=index">
                <div *ngIf="i<10" class="message-row">
                  {{ message }}
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>
</section>