<form novalidate #productForm="ngForm">
    <div class="field">
        <label class="label">Product Name</label>
        <div class="control">
            <input class="input is-large" id="productNameId" type="text" placeholder="Name (required)" required
                minlength="3" [(ngModel)]=product.productName name="productName" #productNameVar="ngModel"
                [ngClass]="{'is-danger': (productNameVar.touched || productNameVar.dirty) && !productNameVar.valid }" />
            <span class="has-text-danger">
                <span *ngIf="productNameVar.errors?.required">
                    Product name is required.
                </span>
                <span *ngIf="productNameVar.errors?.minlength">
                    Product name must be at least three characters.
                </span>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Product Code</label>
        <div class="control">
            <input class="input is-large" id="productCodeId" type="text" placeholder="Code (required)" required
                [(ngModel)]=product.productCode name="productCode" #productCodeVar="ngModel"
                [ngClass]="{'is-danger': (productCodeVar.touched || productCodeVar.dirty) && !productCodeVar.valid }" />
            <span class="has-text-danger">
                <span *ngIf="productCodeVar.errors?.required">
                    Product code is required.
                </span>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label">Description</label>
        <div class="control">
            <textarea class="input is-large" id="descriptionId" type="text" placeholder="Description" rows=3
                [(ngModel)]=product.description name="description"></textarea>
        </div>
    </div>
    <div class="notification  is-danger" *ngIf="errorMessage">{{errorMessage}}
    </div>
</form>