<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{pageTitle}}
      </h1>
      <div class="content">
        <figure class="image is-3x1">
          <img src="./assets/images/logo.jpg">
        </figure>
        <div class="has-text-centered">Developed by:</div>
        <div class="has-text-centered">
          <h3>Ivan Castillo</h3>
        </div>
        <div class="has-text-centered">@kaotikcr</div>
      </div>
    </div>
  </div>
</section>
